<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.utils.SharedApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.SilvopastorilApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.ActualizarFincaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.FincasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.TiposSilvoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.DescSilvoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.ResultadosRotacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.RegistroRotacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.FormularioRotacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.PruebaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.AforoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.PasturaDescActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.PasturasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.SistemaSilvoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.RegistroFincaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.RotacionDetallesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.RotacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="false" />
    </application>

</manifest>